<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do</title>
    </head>
    <body>
        <main>
            <div class="delete-form">
                <form method="post">
                  {% csrf_token %}
                  <p>Are you sure you want to delete "{{ todos }}"?</p>
                  {{ form.as_p }}
                  <div>
                    <button class="button">Delete</button>
                  </div>
                </form>
              </div>
            </main>
        </body>
        </html>
    